<h1>こじらせ診断</h1>

<div class="img-main">
  <%= image_tag '1234.jpeg', size: '900x400' %>
</div>
  <div class="button-wrapper">
    <%= link_to '診断スタート', new_kojirase_path, class: 'btn btn-dark btn-lg' %>
  </div>
