<h4>拗らせ度25%</h4>
  <p>拗らせてはないけど恋愛は苦手？恋愛になるとネガティブになってしまうのかも</p>
  <%= image_tag 'DSCF1228.JPG', size: '400x300' %>
  <h5>おすすめの婚活垢</h5>
  <div class="embed-twitter">
    <blockquote class="twitter-tweet">
    <a href="https://twitter.com/mugipan3/status/1491727766731264003?ref_src=twsrc%5Etfw"></a></blockquote>
    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
  </div>
