<h4>拗らせ度75%</h4>
  <p>強い女、男に興味ない女を演じているあなた。自分の心に正直に行動してみよう！</p>
  <%= image_tag 'DSCF1228.JPG', size: '400x300' %>
  <h5>おすすめの婚活垢</h5>
  <div class="embed-twitter">
    <blockquote class="twitter-tweet">
    <a href="https://twitter.com/kiyomi_konkatsu/status/1487451388317925383?ref_src=twsrc%5Etfw"></a></blockquote>
    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
  </div>
