<h4>拗らせ度100%</h4>
  <p>拗らせに拗らせています。まずは褒め言葉に対して、「ありがとう♪」の一言を！</p>
  <%= image_tag 'DSCF1228.JPG', size: '400x300' %>
  <h5>おすすめの婚活垢</h5>
  <div class="embed-twitter">
    <blockquote class="twitter-tweet">
    <a href="https://twitter.com/iuiuiu202012/status/1494975425600458753?ref_src=twsrc%5Etfw"></a></blockquote>
    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
  </div>
