<h4>拗らせ度50%</h4>
  <p>「私ってサバサバしてるから〜」などが口癖になっていませんか？</p>
  <%= image_tag 'DSCF1228.JPG', size: '400x300' %>
  <h5>おすすめの婚活垢</h5>
  <div class="embed-twitter">
    <blockquote class="twitter-tweet">
    <a href="https://twitter.com/love_xxx_women/status/1503002314705350658?ref_src=twsrc%5Etfw"></a></blockquote>
    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
  </div>
