<h4>今のところは拗らせてないです！</h4>
  <p>褒め言葉を「ありがとう」としっかり言えたり、甘え上手なので恋愛も上手くいくかも<p>
  <%= image_tag 'DSCF1228.JPG', size: '400x300' %>
<h5>おすすめの婚活垢</h5>
  <div class="embed-twitter">
    <blockquote class="twitter-tweet">
    <a href="https://twitter.com/kaorikonkon/status/1502922360655351816?ref_src=twsrc%5Etfw"</a></blockquote>
    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
  </div>
